<head>
	<meta charset='UTF-8'/>
	<meta name='viewport' content='width=device-width,initial-scale=1'/>
	<title>Denia Content Manager</title>
	<meta name='description' content='Gestor de contenidos para empresas de servicios en Denia'/>
	<link rel='shortcut icon' href='favicon.ico'/>
	<link rel='stylesheet' href='/denia/resources/common/manager.css' type='text/css' media='all'/>
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,400i,700'/>
	<script src='/denia/ckeditor/ckeditor.js'></script>
	<script src='/denia/resources/common/manager.js'></script>
</head>
